#quiz_next_button {
   display: none;
}

.main-content {
    background-color: #f0f7f4; /* light green */
    color: #333; /* dark grey */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for buttons */
.btn {
    background-color: #6cb370; /* light green */
    color: #fff; /* white */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5a9c5e; /* darker green on hover */
}
