#quiz_next_button {
   display: none;
}

.lesson-img, .quiz-img {
   height: 400px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.question-image {
    width: 95%;
    height: 40vh;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.answer-container {
    border: 2px solid #2e6643; /* dark green border */
    border-radius: 10px; /* rounded corners */
    width: 95%; /* fill 95% of its container's width */
    margin: 0 auto; /* center the div horizontally */
    padding: 20px; /* padding inside the div */
    box-sizing: border-box; /* includes padding and border in the width */
}

.main-content {
    background-color: #f0f7f4;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 95%;       /* takes the full width of the container */
    height: auto;      /* maintains the aspect ratio */
    display: block;    /* removes bottom margin/spacing */
    margin: 0 auto;    /* centers the image horizontally */
    object-fit: contain; /* ensures the image is fully visible without cropping */
}

.btn {
   --bs-btn-bg: #6cb370 !important; /* light green */
    color: #fff; /* white */
    --bs-btn-border-color: 2px solid #4e8c57 !important;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}


button {
    background-color: #6cb370; /* light green */
    color: #fff; /* white */
    border: 2px solid #4e8c57;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}
