{% extends 'layout.html' %}

{% block content %}
<div class="row center py-4">

    <div class="col-2">
        <img src="{{ url_for('static', filename = 'assets/images/2Heart.png') }}" class="" style="width:150px; transform: rotate(50deg) translate(10px,20px);" alt="Basic Strategy Chart">
    </div>
    <div class="col">
        <h1 id="title_header" class="outfit-900">LEARNING MODULES</h1>
        <p>Click on a module to begin!</p>

        <div class="row pt-3">
            <div class="col">

                <div class="card center-div">
                    <div class="card-body">
                        <h5 class="card-title">Lesson 1</h5>
                        <p class="card-text">Introduction to Blackjack</p>
                        <a href="/lesson/1" class="btn btn-primary">START</a>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="card center-div">
                    <div class="card-body">
                        <h5 class="card-title">Lesson 2</h5>
                        <p class="card-text">Basic Strategy</p>
                        <a href="/lesson/2" class="btn btn-primary">START</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-2">
        <img src="{{ url_for('static', filename = 'assets/images/QClub.png') }}" class="" style="width:150px; transform: rotate(12deg) translate(80px,200px);" alt="Basic Strategy Chart">
        <img src="{{ url_for('static', filename = 'assets/images/6Diamond.png') }}" class="" style="width:150px; transform: rotate(320deg) translate(60px, 200px);" alt="Basic Strategy Chart">
    </div>
</div>

{% endblock %}