{% extends 'layout.html' %}

{% block content %}
 

    <!-- Content -->
    <div class="row">
        <div id="learn-table" class="center-div">     
            <img id="card_on_table" src="{{ url_for('static', filename = 'assets/images/diamondjoker.png') }}" class="center" alt="Learn Table" style="width: 100px; height: auto;">

        </div>
        
    </div>


    <div class="center mt-4">
        <button class="btn btn-primary start-walkthrough">BEGIN</button>
    </div> 

    <!-- Spotlight Overlay -->
    <div class="overlay">
        <div class="highlight"></div>
        <div class="walkthrough-popup">
        <p class="message"></p>
        <button class="btn btn-primary next-step">Next</button>
        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/learn_table.js') }}"></script>
{% endblock %}
