<!-- TODO: update for 2 modules -->

{% extends 'layout.html' %}

{% block content %}
    <script type="text/javascript">
        let lesson = {{lesson|tojson}}

        $(document).ready(function(){
            $("#next_button").click(function(){
                if("{{lesson.next_lesson}}" == "end"){
                    window.location.href = "/quiz_start"
                }else{
                    window.location.href = "/lesson/1/{{lesson.next_lesson}}"
                }
            })
        })
    </script>

    <h1>Learning Modules<h1>
    
    <h3>Lesson: {{lesson.title}}</h3>
   {{lesson.text}}<br>
    <!-- If we want to store images locally, this syntax tends to work 
    <img src="{{ url_for('static', filename=lesson.media) }}" alt="Testing">

    ** Just make sure you have the relative path as the "media" value for the 
    specific object, ie: "media":"/assets/images/diamondjoker.png" as an example
    -->

    <br>
    <img class="lesson-img" src="{{lesson.media}}" alt="{{lesson.media_alt}}">
    <br> <br>
    <button id="next_button" type="button" class="btn btn-primary">Next</button>

    <br>
    <br>

    <!--
    <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar text-bg-success progress-bar-striped progress-bar-animated" style="width: 75%">75%</div>
    </div> -->

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/learn.js') }}"></script>
{% endblock %}
