
{% extends 'layout.html' %}

{% block content %}

    <script type="text/javascript">
        let li = 0;
        let si = 0;
        let scr = {{screen|tojson}};
        let lesson = scr[li][si];            
        let spotlight = screen.spotlight;
        let dealer = lesson.media_array[0];
        let player = lesson.media_array[1];
        let text = lesson.text;
        let lesson_interaction = lesson.interaction
        // let module_interactions = lesson.lesson_interaction;
        let next_screen = lesson.next_screen;
        let prev_screen = lesson.prev_screen;

        // console.log("Interactions for this lesson");
        // console.log(lesson_interaction);

        console.log("Lesson Screen");
        console.log(lesson);

        console.log("Lesson Screen ID")
        console.log(next_screen[0] + 1);

        console.log("Spotlight");
        console.log(spotlight);

        console.log("Dealer");
        console.log(dealer);

        console.log("Player");
        console.log(player);

        console.log("Text");
        console.log(text);

        console.log("Next Screen");
        for (let i = 0; i < next_screen.length; i++) {
          console.log(next_screen[i] + 1);
        }

    </script> 

    <div id="learn-legend">
        Press <span class="legend-button">H</span> to Hit <br>
        Press <span class="legend-button">S</span> to Stand <br>
        Press <span class="legend-button">T</span> to Split <br>
        Press <span class="legend-button">D</span> to Double <br>
    </div>

    <div class=" center">
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <p id="popup_text">This is a popup!</p>
            </div>
        </div>
        
        <h1 id="title_header" class="outfit-900 pb-3">INTRODUCTION TO BLACKJACK</h1>
 
        <div id="learn-table" class="center-div">
            
            <div id="left-table-text"></div> 
            <div id="mid-table-text"></div>
            <div id="bottom-table-text"></div>

            <!--
            <img id="deck-card" src="{{ url_for('static', filename = 'assets/images/back_of_card.png') }}" alt="Learn Table">
            <img id="card-1" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img id="card-2" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img id="card-3" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img id="card-4" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img id="card-5" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img id="card-6" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img class="card-split-7" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}">
            <img class="card-split-8" src="{{ url_for('static', filename = 'assets/images/8Diamond.png') }}"> -->
            
        </div>
    </div>

    <div class="center pt-4">
        <button id="back_button" type="button" class="btn btn-outline-secondary">BACK</button>
        <button id="next_button" type="button" class="btn btn-primary">NEXT</button>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename = 'js/screen.js') }}"></script>

    <!--<script type="text/javascript" src="{{ url_for('static', filename = 'js/lesson_screen.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename = 'js/learn.js') }}"></script> -->

{% endblock %}
